@{
    Layout = "_Layout";
}

    <div class="container text-white">

        <!-- Section: Gallery -->
        <h2 class="text-center my-5 h1 col-12">Описание</h2>

        <p class="text-white">
            Данный программный продукт был разработан с целью упрощения обучения специалистов в области защиты информации.
            В проекте приводятся теоретические выкладки вопроса обеспечения защиты конфиденциальной информации от утечки за счет побочных электромагнитных излучений и наводок,
            приведены методики оценки защищенности, а также даны рекомендации по защите и в отдельный модуль вынесена автоматизация расчетов по данным методикам.
            От пользователя рекомендуется только набрать входные параметры. Результаты работ находятся в профиле пользователя.
            Преподаватель может видеть все выполненные работы. Результаты скачиваются в формате .docx
        </p>
        <img style="margin:auto; display:block;" src="~/img/cat.jpg" />
        <hr class="my-5">

        <!-- Section: Contact v.2 -->
        <section class="row">

            <!-- Section heading -->
            <h2 class="text-center my-5 h1 col-12">Контакты для связи</h2>

            <!-- Section description -->
            <p class="text-center mb-5 w-responsive mx-auto">
                По любым вопросам обращаться на почту.
            </p>

            <div class="col-12 my-5  text-center">
                <ul class="contact-icons list-unstyled text-center row">
                    <li class="col-4">
                        <i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Хабаровск, Россия</p>
                    </li>
                    <li class="col-4">
                        <i class="fas fa-phone fa-2x"></i>
                        <p>+7(962)-150-97-89</p>
                    </li>
                    <li class="col-4">
                        <i class="fas fa-envelope fa-2x"></i>
                        <p>barabanovivan@bk.ru</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
