@{
    Layout = "_Layout";
 }
<h2 class="text-white" style="margin-bottom:1.2em">Список рекомендуемой литературы</h2>
<section>
    <style>
        li{
            margin-top:9px;
            margin-bottom:9px;
        }
    </style>
    <!-- Gird column -->
    <div class="card card-cascade narrower z-depth-0 dark-card-admin text-white">

        <div class="px-4" style="margin-top:20px; margin-bottom:20px">
            <ol>
                <li>
                    Ворона, В.А. Концептуальные основы создания и применения системы защиты объектов [Текст] / В.А. Ворона, В.А. Тихонов. – Москва: Горячая линия-Телеком, 2012. – 196 с.;
                </li>
                <li>
                    Громов, Г.Р. Очерки информационной технологии [Текст] / Г.Р. Громов. – Москва: Инфоарт, 2002. – 331 с.;
                </li>
                <li>
                    Об информации, информационных технологиях и о защите информации [Текст]: федер. закон № 149-ФЗ: [принят Гос. Думой 8 июля 2006 г.: одобр. Советом Федерации 14 июля 1998 г.: по состоянию на 23 апреля 2019 г.] – М.: Стаун-кантри, 2018. – 27 с.;
                </li>
                <li>
                    Крат, Ю.Г. Основы информационной безопасности [Текст] / Ю.Г. Крат, И.Г. Шрамкова. – Хабаровск: Изд-во ДВГУПС, 2008. –112 с.;
                </li>
                <li>
                    Зайцев, А.П. Технические средства и методы защиты информации [Текст] / А.П. Зайцева, А.А. Шелупанова. – Москва: Машиностроение, 2009. – 508 с.;
                </li>
                <li>
                    О персональных данных [Текст]: федер. закон №152-ФЗ [принят ГД ФС РФ 08.07.2006] – М.: АСТ, 1992-2012. – 48 с.;
                </li>
                <li>
                    Металлизированная ткань МЕТАКРОН [Электронный ресурс] / Компания ДЭЗНЕТ – Режим доступа:  <a href="https://www.deznet.ru/catalog/meditsinskoe_oborudovanie/raskhodniki_oborudovaniya/30339/">источник</a>;
                </li>
                <li>
                    Каталог оборудования и программного обеспечения [Электронный ресурс] / ООО «МАСКОМ» – Режим доступа: <a href="http://www.mascom.ru/equipment/tekhnicheskie-sradstva-v-zashchishchennom-ispolnenii/501f.php">источник</a>;
                </li>
                <li>
                    О лицензировании деятельности по разработке и производству средств защиты конфиденциальной информации [Текст]: постановление Правительства РФ от 3 марта 2012 г. N 171 –  16 с.;
                </li>
                <li>
                    Хорев, А.А. Исследование побочных электромагнитных излучений видеосистем средств вычислительной техники [Текст] / А.А. Хорев. - М., 2013. -167 с.
                </li>
                <li>
                    Современные информационные технологии [Электронный ресурс] / Центр управления финансами – Режим доступа: <a href="https://center-yf.ru/data/stat/sovremennye-informacionnye-tehnologii.php">источник</a>;
                </li>
            </ol>
        </div>
    </div>

</section>


