@model object

@{
    Layout = "_Layout";
}

    <section class="section card mb-5">

        <div class="card-body">

            <!-- Section heading -->
            <h1 class="text-center my-5 h1">Форма расчета</h1>

            <h5 class="pb-5">Input fields</h5>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mb-4">

                    <div class="md-form">
                        <input type="text" id="form1" class="form-control">
                        <label for="form1" class="">Basic example</label>
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 mb-4">

                    <div class="md-form form-sm">
                        <input type="text" id="form2" class="form-control form-control-sm">
                        <label for="form2" class="">Small input</label>
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 mb-4">

                    <div class="md-form">
                        <input placeholder="Placeholder" type="text" id="form3" class="form-control">
                        <label for="form3" class="active">Example label</label>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <div class="md-form">
                        <input value="John Doe" type="text" id="form4" class="form-control">
                        <label class="active" for="form4">Prefilling text inputs</label>
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <div class="md-form">
                        <input type="text" id="form5" class="form-control" disabled="">
                        <label for="form5" class="disabled">Disabled input</label>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <!-- Grid row -->
            <div class="row text-left">

                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <!-- Email validation -->
                    <div class="md-form">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="email" id="form6" class="form-control validate">
                        <label for="form6" data-error="wrong" data-success="right">Type your email</label>
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <!-- Password validation -->
                    <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="form7" class="form-control validate">
                        <label for="form7" data-error="wrong" data-success="right">Type your password</label>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <h5 class="pb-5">Error or Success Messages</h5>

            <!-- Grid row -->
            <div class="row text-left">

                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <!-- Email validation -->
                    <div class="md-form">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="email" id="form8" class="form-control validate">
                        <label for="form8" data-error="wrong" data-success="right">Type your email</label>
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <!-- Password validation -->
                    <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="form9" class="form-control validate">
                        <label for="form9" data-error="wrong" data-success="right">Type your password</label>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <h5 class="pb-5">Textarea</h5>

            <!-- Grid row -->
            <div class="row text-left">

                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <!-- Basic textarea -->
                    <div class="md-form">
                        <textarea type="text" id="form10" class="md-textarea form-control" rows="3"></textarea>
                        <label for="form10">Basic textarea</label>
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <!-- Textarea with icon prefix -->
                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix"></i>
                        <textarea type="text" id="form11" class="md-textarea form-control" rows="3"></textarea>
                        <label for="form11">Icon Prefix</label>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <h5 class="pb-5">Checkboxes and Radio</h5>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">

                    <fieldset class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkbox1" checked="checked">
                        <label class="form-check-label" for="checkbox1">Classic checkbox</label>
                    </fieldset>

                    <fieldset class="form-check mt-4">
                        <input class="form-check-input filled-in" type="checkbox" id="checkbox2" checked="checked">
                        <label class="form-check-label" for="checkbox2">Filled-in checkbox</label>
                    </fieldset>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">

                    <fieldset class="form-check mb-4">
                        <input class="form-check-input" name="group1" type="radio" id="radio1" checked="checked">
                        <label class="form-check-label" for="radio1">Option 1</label>
                    </fieldset>

                    <fieldset class="form-check mb-4">
                        <input class="form-check-input" name="group1" type="radio" id="radio2">
                        <label class="form-check-label" for="radio2">Option 2</label>
                    </fieldset>

                    <fieldset class="form-check mb-4">
                        <input class="form-check-input" name="group1" type="radio" id="radio3">
                        <label class="form-check-label" for="radio3">Option 3</label>
                    </fieldset>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!-- Switch -->
                    <div class="switch">
                        <label>
                            Off
                            <input type="checkbox" checked="checked">
                            <span class="lever"></span> On
                        </label>
                    </div>
                    <!-- Disabled Switch -->
                    <div class="switch">
                        <label>
                            Off
                            <input disabled="" type="checkbox">
                            <span class="lever"></span> On
                        </label>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <h5 class="pb-5">File input</h5>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <form>
                        <div class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-sm float-left waves-effect waves-light">
                                    <span>Choose file</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload your file">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6 mb-4">

                    <form action="#">
                        <div class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-sm float-left waves-effect waves-light">
                                    <span>Choose files</span>
                                    <input type="file" multiple="">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <h5 class="pb-5">Range</h5>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 mb-4">

                    <form class="range-field">
                        <input type="range" min="0" max="100">
                    </form>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <h5 class="">Character counters</h5>

            <!-- Grid row -->
            <div class="row mb-5">

                <!-- Grid column -->
                <div class="col-md-6">
                    <div style="height:83px;"></div>
                    <div class="md-form">
                        <input id="input-char-counter" type="text" length="10" class="form-control">
                        <label for="input-char-counter">Input text</label>
                        <span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span>
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6">

                    <div class="md-form">
                        <textarea id="textarea-char-counter" class="md-textarea form-control" rows="3" length="120"></textarea>
                        <label for="textarea-char-counter">Type your text</label>
                        <span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <h5 class="pb-5">Select</h5>

            <!-- Grid row -->
            <div class="row mb-5">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!-- Name -->
                    <div class="select-wrapper mdb-select md-form">
                        <span class="caret">▼</span><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-2f5643ad-c760-4f52-8d6a-36616b448d5a" value=""><ul id="select-options-2f5643ad-c760-4f52-8d6a-36616b448d5a" class="dropdown-content select-dropdown w-100 multiple-select-dropdown"><li class="disabled   "><span class="filtrable"><input type="checkbox" class="form-check-input" disabled=""><label></label> Basic select   </span></li><li class="select-toggle-all"><span><input type="checkbox" class="form-check-input"><label>Select all</label></span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> USA   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Germany   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> France   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Poland   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Japan   </span></li><button class="btn-save btn btn-primary btn-sm waves-effect waves-light">Save</button></ul><select class="mdb-select md-form initialized" multiple="">
                            <option value="" disabled="" selected="">Basic select</option>
                            <option value="1">USA</option>
                            <option value="2">Germany</option>
                            <option value="3">France</option>
                            <option value="3">Poland</option>
                            <option value="3">Japan</option>
                        </select>
                    </div>


                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!-- Name -->
                    <!-- Name -->
                    <div class="select-wrapper mdb-select colorful-select dropdown-primary md-form">
                        <span class="caret">▼</span><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-fb83fbf1-7e58-4deb-9753-5f11f84a8e60" value=""><ul id="select-options-fb83fbf1-7e58-4deb-9753-5f11f84a8e60" class="dropdown-content select-dropdown w-100 multiple-select-dropdown"><li class="disabled   "><span class="filtrable"><input type="checkbox" class="form-check-input" disabled=""><label></label> Material select   </span></li><li class="select-toggle-all"><span><input type="checkbox" class="form-check-input"><label>Select all</label></span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> USA   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Germany   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> France   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Poland   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Japan   </span></li><button class="btn-save btn btn-primary btn-sm waves-effect waves-light">Save</button></ul><select class="mdb-select colorful-select dropdown-primary md-form initialized" multiple="">
                            <option value="" disabled="" selected="">Material select</option>
                            <option value="1">USA</option>
                            <option value="2">Germany</option>
                            <option value="3">France</option>
                            <option value="3">Poland</option>
                            <option value="3">Japan</option>
                        </select>
                    </div>
                    <label>Label example</label>


                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!-- Name -->
                    <div class="select-wrapper mdb-select md-form">
                        <span class="caret">▼</span><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-b06ae88d-5158-47ce-8368-53502a53ccd6" value=""><ul id="select-options-b06ae88d-5158-47ce-8368-53502a53ccd6" class="dropdown-content select-dropdown w-100 "><li class="optgroup active"><span>team 1</span></li><li class=" optgroup-option  "><span class="filtrable"> Option 1   </span></li><li class=" optgroup-option  "><span class="filtrable"> Option 2   </span></li><li class="optgroup"><span>team 2</span></li><li class=" optgroup-option  "><span class="filtrable"> Option 3   </span></li><li class=" optgroup-option  "><span class="filtrable"> Option 4   </span></li></ul><select class="mdb-select md-form initialized">
                            <optgroup label="team 1">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                            </optgroup>
                            <optgroup label="team 2">
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </optgroup>
                        </select>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!-- Name -->
                    <div class="select-wrapper mdb-select md-form">
                        <span class="caret">▼</span><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-be9aba2c-62f9-4558-84a4-f4f82d33a608" value=""><ul id="select-options-be9aba2c-62f9-4558-84a4-f4f82d33a608" class="dropdown-content select-dropdown w-100 multiple-select-dropdown"><span class="search-wrap ml-2"><div class="md-form mt-0"><input type="text" class="search form-control w-100 d-block" placeholder="Search here.."></div></span><li class="disabled   "><span class="filtrable"><input type="checkbox" class="form-check-input" disabled=""><label></label> Search select   </span></li><li class="select-toggle-all"><span><input type="checkbox" class="form-check-input"><label>Select all</label></span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> USA   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Germany   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> France   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Poland   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Japan   </span></li><button class="btn-save btn btn-primary btn-sm waves-effect waves-light">Save</button></ul><select class="mdb-select md-form initialized" multiple="" searchable="Search here..">
                            <option value="" disabled="" selected="">Search select</option>
                            <option value="1">USA</option>
                            <option value="2">Germany</option>
                            <option value="3">France</option>
                            <option value="3">Poland</option>
                            <option value="3">Japan</option>
                        </select>
                    </div>


                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!-- Name -->
                    <div class="select-wrapper mdb-select colorful-select dropdown-primary md-form">
                        <span class="caret">▼</span><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-11edcd0a-f99f-408e-b545-c6d1ca380a43" value=""><ul id="select-options-11edcd0a-f99f-408e-b545-c6d1ca380a43" class="dropdown-content select-dropdown w-100 multiple-select-dropdown"><span class="search-wrap ml-2"><div class="md-form mt-0"><input type="text" class="search form-control w-100 d-block" placeholder="Search here.."></div></span><li class="disabled   "><span class="filtrable"><input type="checkbox" class="form-check-input" disabled=""><label></label> Choose your country   </span></li><li class="select-toggle-all"><span><input type="checkbox" class="form-check-input"><label>Select all</label></span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> USA   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Germany   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> France   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Poland   </span></li><li class="   "><span class="filtrable"><input type="checkbox" class="form-check-input"><label></label> Japan   </span></li><button class="btn-save btn btn-primary btn-sm waves-effect waves-light">Save</button></ul><select class="mdb-select colorful-select dropdown-primary md-form initialized" multiple="" searchable="Search here..">
                            <option value="" disabled="" selected="">Choose your country</option>
                            <option value="1">USA</option>
                            <option value="2">Germany</option>
                            <option value="3">France</option>
                            <option value="3">Poland</option>
                            <option value="3">Japan</option>
                        </select>
                    </div>
                    <label>Search material selects</label>


                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!-- Name -->
                    <div class="select-wrapper mdb-select md-form">
                        <span class="caret">▼</span><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-8179e644-88d5-41d9-9d3d-2b2b46b6ad44" value=""><ul id="select-options-8179e644-88d5-41d9-9d3d-2b2b46b6ad44" class="dropdown-content select-dropdown w-100 multiple-select-dropdown">
                            <span class="search-wrap ml-2"><div class="md-form mt-0"><input type="text" class="search form-control w-100 d-block" placeholder="Search here.."></div></span>
                            <li class="   ">
                                <img alt="" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle"><span class="filtrable">
                                    <input type="checkbox" class="form-check-input"><label></label> example
                                    1
                                </span>
                            </li>
                            <li class="   ">
                                <img alt="" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle"><span class="filtrable">
                                    <input type="checkbox" class="form-check-input"><label></label> example
                                    2
                                </span>
                            </li>
                            <li class="   ">
                                <img alt="" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg" class="rounded-circle"><span class="filtrable">
                                    <input type="checkbox" class="form-check-input"><label></label> example
                                    1
                                </span>
                            </li>
                            <button class="btn-save btn btn-primary btn-sm waves-effect waves-light">Save</button>
                        </ul><select class="mdb-select md-form initialized" multiple="" searchable="Search here..">
                            <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle">
                                example
                                1
                            </option>
                            <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle">
                                example
                                2
                            </option>
                            <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg" class="rounded-circle">
                                example
                                1
                            </option>
                        </select>
                    </div>


                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>

    </section>
