@model object

@{
    Layout = "_Layout";
}


<section>
    <div class="px-4 text-white">
        <select id="b" class="mdb-select md-form colorful-select dropdown-primary dark dark-bg-admin">
            <option class="bg-dark" value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
            <option value="5">Option 5</option>
        </select>
        <label for="b" class="">Blue select</label>
    </div>
</section>



