@model object

@{
    Layout = "_Layout";
}

<style>
    .doc {
        width: 100%;
        height: 650px;
    }
</style>
<section>

    <!-- Gird column -->
    <div class="card card-cascade narrower z-depth-0 dark-card-admin text-white" style="padding:15px">
        <div class="px-4">
            <iframe class="doc"
                    src="https://docs.google.com/gview?url=http://writing.engr.psu.edu/workbooks/formal_report_template.doc&embedded=true"></iframe>
    </div>
        </div>

</section>



