@using RazorLight
@inherits TemplatePage<String>

<!DOCTYPE html>
<html>
<head>
    <title>GiraffeRazorSample - A Razor sample application for Giraffe</title>
    <link href="~/wwwroot/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="~/wwwroot/js/jquery.js"></script>
    <script src="~/wwwroot/js/bootstrap.min.js"> </script>
</body>
</html>