@using RazorLight
@inherits TemplatePage<String>

<!DOCTYPE html>
<html>
<head>
    <title>GiraffeRazorSample - A Razor sample application for Giraffe</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>

