@using RazorLight
@using SERP.Entities
@inherits TemplatePage<RegisterModel>

@if (Model != null)
{
    <ul class="nav navbar-nav nav-flex-icons ml-auto">

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect text-white" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user text-white"></i> <span class="clearfix d-none d-sm-inline-block">Профиль</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item waves-effect waves-light" href="/user/home">Мой аккаунт</a>
                <a class="dropdown-item waves-effect waves-light" href="/logout">Выйти</a>
            </div>
        </li>


    </ul>
}

@if (Model == null){
    <p>Войдите</p>
}
